/* css geral */
.bold {
  font-weight: bold
}

.w-4 {
  width: 1rem; /* 16px */
}

.h-4 {
  height: 1rem; /* 16px */
}

.w-6 {
  width: 1.5rem; /* 24px */
}

.h-6 {
  height: 1.5rem; /* 24px */
}

.w-8 {
  width: 2rem; /* 24px */
}

.h-8 {
  height: 2rem; /* 24px */
}

.pl-5 {
  padding-left: 2rem !important;
}

.pl-8 {
  padding-left: 4rem !important;
}

.cursor-move {
  cursor: move;
}

.opacity-50 {
  opacity: 0.5;
}

[x-cloak] { 
  display: none !important; 
}
/* css para configurações da tabela */
.div-rounded {
  border-radius: 0.3rem !important;
  border-width: 4px;
  background-color: #f5f5f5;
  padding: 5px;
}

.table-bordered {
  background-color: #fff;
}

.table thead th {
  vertical-align: middle;
}

/* css para configuração dos botões de ação */
a.btn-acao:hover {
  text-decoration: none;
}

.btn-icon {
  background-color: transparent;
  background-image: none;
  border: 0;
}

.btn-icon:hover {
  color: #fff !important;
}

.btn-icon:focus {
  background-color: transparent;
  background-image: none;
  border: 0;
  box-shadow: none;
}

/* css para o sortable, usado em grupo-show.blade */
.list-group-item+.list-group-item {
  border-top-width: 1px;
}

.nested-sortable, .nested-1, .nested-2, .nested-3, .nested-4 {
	margin-top: 5px;
}

.nested-1 {
  background-color: #f9f9f9;
}

.nested-2 {
  background-color: #e9e9e9;
}

.nested-3 {
	background-color: #d9d9d9;
}

.nested-4 {
	background-color: #c9c9c9;
}

/* css para a exibição dos botões de ação na lista sortable */
.texto-sortable {
  float: left;
  width: 90%;
}

.acoes-sortable {
  float: right;
}

.icon-sortable {
  margin: 5px 5px 0 0;
  float: left;
}

.clear {
  clear: both;
}

/* css para a adição de grupo à percepção */
.card-body > div > .form-group {
  margin-bottom: 0;
}

.card-text .card .card-body:hover {
  background-color: #ececf6;
}

.flex-title {
  width: 95%;
}

.flex-actions {
  width: 24%;
}